@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> userManager
@inject SignInManager<AppUser> sigInManager


@{
    string imagePath = "";
    if(sigInManager.IsSignedIn(User) && userManager.GetUserAsync(User).Result.ProfileImgUrl!=null)
    {
        imagePath = "/Images/" + userManager.GetUserAsync(User).Result.ProfileImgUrl;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["title"] - myblog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="header_content">
            <span class="logo">
                <i class="bi bi-slack"></i>
                My<span class="logo-book">Blog</span>
            </span>
            <div>
                <form asp-controller="Search" asp-action="Index">
                    <input type="text" class="header_search desktop-only" name="SearchString" placeholder="Search your friends...">
                    <i class="bi bi-search" id="searchicon"></i>
                </form>
            </div>
           
            @if (!sigInManager.IsSignedIn(User))
            {
                <div class="float-md-right" style="margin-right:15px">
                    <a asp-controller="Account" asp-action="Login" class="btn btn-outline-success my-2 my-sm-0" style="margin-right:5px">Sign In</a>
                    <a asp-controller="Account" asp-action="Register" class="btn btn-outline-warning my-2 my-sm-0">Register</a>
                </div>
            }
            @if (sigInManager.IsSignedIn(User))
            {
                <div class="float-md-right" style="margin-right:15px">
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <div class="float-md-right" style="margin-left:20px">
                            <button type="submit" class="btn btn-outline-danger">
                                Sign Out
                            </button>
                        </div>
                    </form>
                </div>
            }

        </div>
  
        <div class="sidebar-container" id="sidebar">
            @if (sigInManager.IsSignedIn(User))
            {
                <img src="@imagePath" class="avatar">
                <div class="user-welcomer">
                    Welcome <br>
                    <span class="username">@userManager.GetUserName(User)</span>
                    <div class="user-buttons">
                        <i class="fas fa-bell"></i>
                    </div>
                </div>
            }
            else
            {
                <div class="user-welcomer">
                    Welcome <br>
                    <span class="username">Please Login</span>
                    <div class="user-buttons">
                        <i class="fas fa-bell"></i>
                    </div>
                </div>
            }
            
  
            <div class="seperator" clear="all"></div>
  
            <div class="sidebar-content">
                <ul>
                    <li>
                        <a asp-controller="Post" asp-action="Index" class="active">
                            <span><img src="https://img.icons8.com/ios/64/000000/news.png"/></span>
                            <span class="username">Ribbon</span>
                        </a>
                    </li>
                    <div class="seperator" clear="all"></div>
                    <li>
                        <a asp-controller="Post" asp-action="Images">
                            <span><img src="https://img.icons8.com/wired/64/000000/stack-of-photos.png"/></span>
                            <span class="username">Images</span>
                        </a>
                    </li>
                    <div class="seperator" clear="all"></div>
                    <li>
                        <a asp-controller="Profile" asp-action="Friends">
                            <span><img src="https://img.icons8.com/wired/64/000000/user-group-man-woman.png"/></span>
                            <span class="username">Friends</span>
                        </a>
                    </li>
                    <div class="seperator" clear="all"></div>
                    <li>
                        <a asp-controller="Profile" asp-action="Details">
                            <span><img src="https://img.icons8.com/wired/64/000000/user-male.png"/></span>
                            <span class="username">Profile</span>
                        </a>
                    </li>
                    <div class="seperator" clear="all"></div>
                    <li>
                        <a href="#">
                            <span><img src="https://img.icons8.com/wired/64/000000/bookmark--v2.png"/></span>
                            <span class="username">Tasks</span>
                        </a>
                    </li>
                </ul>
                <div class="seperator"></div>
            </div>
        </div>
    </div>

    <div class="page_content" style="margin-top:100px">
        <main>
            @RenderBody()
        </main>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document" style="width:600px">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
