@model AppUser
@{ 
    Layout = null;
}
<head>
    <title>Profile Edit Page</title>
    <link rel="stylesheet" href="~/css/StyleSheet1.css" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
</head>


<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="projects">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input asp-for="UserName" class="form-control" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input asp-for="Email" class="form-control" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Profile Picture URL</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input asp-for="ProfileImgUrl" class="form-control" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Phone</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input asp-for="PhoneNumber" class="form-control" />
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">About</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input asp-for="About" class="form-control" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">About</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        <input asp-for="AboutTitle" class="form-control" />
                    </div>
                </div>
                <input type="hidden" asp-for="Id" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-warning float-right btn-block" />
    </div>
</form>

