@model IEnumerable<AppUser>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/friendsSite.css" />
</head>

<form asp-controller="Profile" asp-action="Friends">
    <input type="text" class="header_search desktop-only" name="SearchString" placeholder="Search in blog posts">
    <i class="bi bi-search" id="searchicon"></i>
</form>

@if (Model.Count()!=0)
{
    <div class="row">
        @foreach (var user in Model)
        {
            string imagePath = "";
            if (user.ProfileImgUrl!=null)
            {
                imagePath = "/Images/" + user.ProfileImgUrl; 
            }
            <div class="row" style="margin-right:10px;margin-top:25px; padding:10px">
                 <div class="container">
                  <div class="avatar-flip">
                    <img src="@imagePath" height="150" width="150">
                    <img src="@imagePath" height="150" width="150">
                  </div>
                  <h2>@user.UserName</h2>
                </div>
            </div>
        }
    </div>
}
else
{
    <h2 class="text-center" style="margin-top:25px">You don't have any Friends!</h2>
}
