@model IEnumerable<AppUser>

<div class="row">
    @foreach (var user in Model)
    {
        <div class="card" style="width: 18rem;margin-bottom:15px;margin-right:15px">
            <img class="card-img-top" src="@user.ProfileImgUrl">
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
                <p class="card-text">@user.About</p>
                <a asp-controller="Profile" asp-action="AddFriend" asp-route-id="@user.Id" class="btn btn-success">Add to Friend</a>
            </div>
        </div>
    }
</div>

